*{
	font-family: 'Segoe UI';
	transition: all 500ms;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1{
	text-align: center;
	padding: 10px 15px;
	border-radius: 10px;
}

h1:hover{
	background-color: black;
	color: white;
	cursor: default;
}
